*{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
}

a{
    font-family: "Poppins", sans-serif;
    
    font-style: normal;
}


h1{
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}


p{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
} 


/* .hero-typing{
    width: 20ch;
    text-wrap:nowrap;
    overflow: hidden;
    animation: typing 2s steps(90) infinite alternate-reverse;
    

}


@keyframes typing{
    from {width: 0ch;}
} */