*{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
}

a{
    font-family: "Poppins", sans-serif;
    
    font-style: normal;
}


h1{
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}


p{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
} 